/* Styles for the entire application */
.lead-text {
    font-family: karla, sans-serif;
    font-size: 18px;
    color: #333333;
    font-weight: medium;
}
.title-text {
    font-family: yrsa, serif;
    font-size: 64px;
    font-weight: 500;
    color: #333333;
}
.subtitle-text {
    font-family: yrsa, serif;
    font-size: 40px;
    color: #EDEFEE;
    font-weight: 500;
}
.description-text {
    font-family: karla, sans-serif;
    font-size: 18px;
    color: #EDEFEE;
    font-weight: medium;
}
.button {
    background-color: #F4CE14;
    color: #333333;
    font-family: karla, sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* Styles for the Header component */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 10px;
}
.header img {
    height: 50px;
}

/* Styles for the Nav component */
.nav ul {
    list-style-type: none;
    display: flex;
    gap: 75px;
}
.nav ul li {
    cursor: pointer;
}

/* Styles for the Main component */
.main {
    padding: 20px;
}
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #495e57;
}
.food-image {
    margin-left: 20px;
    height: 300px;
    width: 600px;
}
.food-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Styles for the Footer component */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #495e57;
}